/* @import's and *'s */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@700&display=swap');

* {
	text-align: center;
	font-family: 'Hind Vadodara', sans-serif;
}

/* The News */
.news-box {
	border-radius: 15px;
	border: 1px solid black;
	background-color: red;
	color: white;
}

.news-box:hover {
	border-radius: 30px;
	border: 2px solid red;
	color: black;
	background-color: aqua;
}

/* The search engine part */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

/* Universal Styles */
#endnotes {
	font-size: 0.1em;
}

.end {
	font-size: 1.5rem !important;
}

ol {
	list-style-type: square;
}

.important {
	color: red !important;
}

img {
	width: 30px;
	height: 30px;
}

.special-img {
	width: 70px;
}

img:hover {
	width: 40px;
	height: 40px;
}

.special-img:hover {
	width: 80px;
	height: 40px;
}

h6 {
	font-size: 7.5px;
}

/* General table stylings */
table {
	text-align: center;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
	background-color: rgba(178, 255, 251, 0.6)
}

th:hover {
	background-color: #00eaff;
	color: white;
	cursor: pointer;
}

td:hover {
	background-color: green;
	color: white;
	cursor: cell;
}

/* The rows in the table */
.corona {
	background: greenyellow;
}

.plague {
	background: pink;
	color: black;
}

.plague td:hover {
	color: white;
	background-color: hotpink;
}

.marburg td {
	background-color: #9d03fc;
}

.marburg td:hover {
	background-color: purple;
}

.ebola td {
	color: black;
	background-color: orange;
}

.ebola td:hover {
	color: white;
	background-color: #ff7700;
}

.rabies td {
	background-color: darkgray;
}

.rabies td:hover {
	background-color: gray;
	color: white;
}

/* The Google Maps iframe Box Shadow */
.shadow-corona {
	box-shadow: 10px 10px 10px #6ea31d;
}

.shadow-corona:hover {
	box-shadow: 10px 10px 10px rgb(1, 66, 1);
}

.shadow-plague {
	box-shadow: 10px 10px 10px rgb(255, 130, 150);
}

.shadow-plague:hover {
	box-shadow: 10px 10px 10px rgb(201, 47, 124);
}

.shadow-marburg {
	box-shadow: 10px 10px 10px #7305b8;
}

.shadow-marburg:hover {
	box-shadow: 10px 10px 10px rgb(49, 0, 49);
}

.ebola-shadow {
	box-shadow: 10px 10px 10px rgb(168, 109, 0);
}

.ebola-shadow:hover {
	box-shadow: 10px 10px 10px #a74e00;
}

.shadow-rabies {
	box-shadow: 10px 10px 10px rgb(114, 114, 114);
}